*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(236, 236, 236);
}
html {
  scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: black;
}
p{
    font-family: "roboto";
}

.selectSwitch{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    transition:  all .3s ease-in-out;
}
.selectSwitch:hover{
    background-color: rgb(206, 206, 206);
    color: black;
}
.selectSwitchActive{
    background-color: #5596F5;
    color: white;
}